<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>171559814835-5nr9nvbs4llerklond784nj5okuv5r7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171559814835-5nr9nvbs4llerklond784nj5okuv5r7m</string>
	<key>API_KEY</key>
	<string>AIzaSyDbfxRhOIy42f_xcOd_Gg0JUFt13NxG53E</string>
	<key>GCM_SENDER_ID</key>
	<string>171559814835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.MessageAppSharonMac</string>
	<key>PROJECT_ID</key>
	<string>messageappsharonmac</string>
	<key>STORAGE_BUCKET</key>
	<string>messageappsharonmac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171559814835:ios:6ca25a972d1faee5</string>
	<key>DATABASE_URL</key>
	<string>https://messageappsharonmac.firebaseio.com</string>
</dict>
</plist>